.channel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------------------------------------------------------------------------------ Channel Banner */

.channel .c-banner {
    background-color: var(--yt-color);
    border: 2px solid var(--g1-color);
    border-radius: 20px;
}

.c-banner img {
    border-radius: 20px;
    height: 200px;
    width: 100%;
}

/* ------------------------------------------------------------------------- Channel Information */

.channel .c-info {
    background-color: var(--yt-color);
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* ------------------------------------------- */

.c-info img {
    background-color: var(--bw-color);
    box-shadow: 0 0 20px var(--g1-color);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* ------------------------------------------- */

.c-info .ci-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ci-div h1 {
    font-size: 25px;
}

.ci-div i {
    border-bottom: 1px solid var(--g1-color);
}

.ci-div .c-btn {
    background-color: var(--wb-color);
    border-radius: 20px;
    color: var(--bw-color);
    cursor: pointer;
    margin: auto auto 0 0;
    padding: 2px 20px;
}
.ci-div .c-btn:hover {
    box-shadow: 0 0 10px var(--wb-color);
}

/* ------------------------------------------------------------------------------ Channel Videos */

/* .channel .c-videos { } */

/* ------------------------------------------- */

.c-videos .cv-nav {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}
.cv-nav::-webkit-scrollbar {
    display: none; 
}

.cv-nav a {
    border-bottom: 2px solid transparent;
    color: var(--g1-color);
    font-weight: bold;
}
.cv-nav a:hover {
    border-bottom-color: var(--g1-color);
}
.cv-nav a:focus {
    border-bottom-color: var(--wb-color);
    color: var(--wb-color);
}

/* ------------------------------------------- */

.c-videos hr {
    border: 1px solid var(--g1-color);
    margin: 1px 0 10px 0;
}

/* ------------------------------------------- */

.c-videos .cv-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 750px) {
    .channel .c-info {
        flex-direction: column;
    }

    .c-info img {
        margin: auto;
    }

    .c-info .ci-div {
        text-align: center;
    }

    .ci-div .c-btn {
        margin: 20px auto 0 auto;
    }
}

/* --------------------------------------------------------------------------------------------- */



