header {
    border-bottom: 1px solid var(--g1-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;
}

/* Left Div: Logo ------------------------------------------------------------------------------ */

header .logo {
    display: flex;
    gap: 10px;
}

.logo button {
    cursor: pointer;
    font-size: 20px;
}

.logo #yt {
    font-size: 25px;
    font-weight: bold;
}

.logo #yt i {
    color: red;
}

/* Middle Div: Search bar ---------------------------------------------------------------------- */

header .search-bar {
    display: flex;
    gap: 10px;
}

/* ------------------------------------------- */

.search-bar .search-text {
    display: flex;
    width: 500px;
}

.search-text input {
    border: 1px solid var(--g1-color);
    border-right: none;
    border-radius: 50px 0 0 50px;
    padding: 5px 10px;
    width: 89%;
}
.search-text input:focus {
    border: 1px solid #065fd4;
}
.search-text input::placeholder {
    color: var(--g1-color);
}

.search-text #search-btn {
    background-color: rgba(128, 128, 128, 0.4);
    border: 1px solid var(--g1-color);
    border-radius: 0 50px 50px 0;
    display: grid;
    place-items: center;
    width: 11%;
}
.search-text #search-btn:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

/* ------------------------------------------- */

.search-bar .search-voice {
    background-color: rgba(128, 128, 128, 0.4);
    border: 1px solid var(--g1-color);
    border-radius: 50px;
    display: grid;
    place-items: center;
    width: 50px;
}
.search-bar .search-voice:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

/* Right Div: User actions --------------------------------------------------------------------- */

header .user-actions {
    display: flex;
    gap: 10px;
}

/* ------------------------------------------- */

.user-actions #theme-btn {
    cursor: pointer;
}

/* ------------------------------------------- */

.user-actions .action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action #link1 {
    border: 1px solid var(--g1-color);
    border-radius: 50%;
}
.action #link1:hover {
    box-shadow: 0 0 10px var(--g1-color);
}

#link1 img {
    background-color: var(--yt-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

/* ------------------------------------------- */

.user-actions #link2 {
    border: 1px solid var(--g1-color);
    border-radius: 50px;
    padding: 5px 10px;
}
.user-actions #link2:hover {
    background-color: var(--g2-color);
}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
    header {
        flex-wrap: wrap;
        gap: 10px;
    }

    header .logo {
        border-bottom: 1px solid var(--g1-color);
        justify-content: space-between;
        width: 100%;
        
    }
}

@media (max-width: 750px) { 
    header .search-bar {
        width: 100%;
    }

    .search-bar .search-text {
        width: 100%;
    }
    
    header .user-actions {
        justify-content: space-between;
        width: 100%;
    }
}

/* --------------------------------------------------------------------------------------------- */
