/* .home {} */

/* -----------------------------------------------------------------------------  Video Category */

.home .category {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.category::-webkit-scrollbar {
    display: none; 
}

.category button {
    background-color: var(--g2-color);
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 1px 10px;
}
.category button:hover,
.category button.active {
    background-color: var(--wb-color);
    color: var(--bw-color);
}

/* --------------------------------------------------------------------------------- Home Videos */

.home .home-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.home-videos i {
    text-align: center;
    width: 100%;
}

/* --------------------------------------------------------------------------------------------- */


