aside {
    z-index: 10;
}

/* nav1: Icon navigation ----------------------------------------------------------------------- */

aside .nav1 {
    display: flex;
    flex-direction: column;
    padding: 2px;
    position: sticky;
    top: 55px;
}

.nav1 .n1 {
    border-radius: 10px;
    padding: 20px;
}
.nav1 .n1:hover {
    background-color: var(--g2-color);
}

/* nav2: Labeled navigation -------------------------------------------------------------------- */

aside .nav2 {
    background-color: var(--yt-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--g1-color) transparent;
    padding: 2px;
    position: fixed;
    inset: 55px auto 0 0;
}
aside.close .nav2 {
    display: none;
}

.nav2 .n2 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 40px 10px 20px;
    white-space: nowrap;
}
.nav2 .n2:hover {
    background-color: var(--g2-color);
}

.nav2 b {
    padding: 10px 40px 10px 20px;
}

.nav2 #copyright {
    color: var(--g1-color);
    padding: 10px 40px 10px 20px;
}

.nav2 hr {
    border: 1px solid var(--g1-color);
    margin: 1px 10px;
}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
    aside .nav1 {
        top: 105px;
    }
    
    aside .nav2 {
        inset: 105px auto 0 0;
    }
}

@media (max-width: 750px) {
    aside .nav1 {
        top: 150px;
    }

    aside .nav2 {
        inset: 150px auto 0 0;
    }
}

@media (max-width: 500px) {
    aside .nav1 {
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------- */
