.video-player {
    display: flex;
    gap: 20px;
}

/* ---------------------------------------------------------------------------------- Main Video */

.video-player .vp-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

/* -------------------------------------------------------------------- */

.vp-main .vp-div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ------------------------------------------- */

.vp-div1 .vp-iframe {
    background-color: var(--yt-color);
    border-radius: 10px;
    height: 400px;
    width: 100%;
}

/* ------------------------------------------- */

.vp-div1 h2 {
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------- */

.vp-main .vp-div4 {
    display: flex;
    justify-content: space-between;
}

/* ------------------ */

.vp-div4 .vp-div5 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vp-div5 img {
    background-color: var(--g2-color);
    border: 1px solid var(--g1-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.vp-div5 h1 {
    font-weight: bold;
}

.vp-div5 #sc-btn {
    background-color: var(--wb-color);
    border-radius: 20px;
    color: var(--bw-color);
    cursor: pointer;
    padding: 2px 20px;
}
.vp-div5 #sc-btn:hover {
    box-shadow: 0 0 10px var(--wb-color);
}

/* ------------------ */

.vp-div4 .vp-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vp-btns .vp-btn {
    background-color: rgba(128, 128, 128, 0.4);
    cursor: pointer;
    padding: 2px 10px;
}
.vp-btns .vp-btn:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

.vp-btns .ld-btn #like-btn {
    border-radius: 20px 0 0 20px;
    border-right: 1px solid var(--g1-color);
}
.vp-btns .ld-btn #dislike-btn {
    border-radius: 0 20px 20px 0;
    border-left: 1px solid var(--g1-color);
}

.vp-btns #share-btn {
    border-radius: 20px;
}

.vp-btns #dsr-btn {
    border-radius: 50px;
}

/* -------------------------------------------------------------------- */

.vp-main .vp-div2 {
    background-color: var(--yt-color);
    border-radius: 10px;
    padding: 10px;
}

.vp-div2 p {
    padding-top: 10px;
}

/* -------------------------------------------------------------------- */

.vp-main .vp-div3 {
    border: 1px solid var(--g1-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

/* ------------------------------------------- */

.vp-div3 h5 {
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------- */

.vp-div3 form,
.vp-div3 form input  {
    all: unset;
}

.vp-div3 form {
    border-bottom: 1px solid var(--g1-color);
    display: flex;
    justify-content: space-between;
}
.vp-div3 form:hover {
    border-bottom: 1px solid #065fd4;
}

.vp-div3 form input {
    border: 1px solid transparent;
    width: 90%;
}
.vp-div3 form input:focus {
    border: 1px solid transparent;
}

.vp-div3 form #ac-btn:hover {
    color: #065fd4;
    cursor: pointer;
}

/* ------------------------------------------- */

/* .vp-div3 .comment { } */

.comment span {
    color: var(--g1-color);
}

.comment #dc-btn:hover {
    color: #ff0000;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------ Related videos */

.video-player .vp-related {
    border-top: 1px solid var(--g1-color);
    border-bottom: 1px solid var(--g1-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    width: 30%;
}

/* --------------------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
    .video-player {
        flex-direction: column;
    }

    .video-player .vp-main {
        width: 100%;
    }
    
    .video-player .vp-related {
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .vp-div1  .vp-iframe {
        height: 300px;
    }
    
    .vp-main .vp-div4 {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .vp-div1 .vp-iframe {
        height: 200px;
    }

    .video-player .vp-related {
        flex-direction: column;
    }
}

/* --------------------------------------------------------------------------------------------- */


