* {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    /* outline: 1px solid red; */
}

/* ------------------------------------------- */

:root {
    --g1-color: rgb(128, 128, 128);
    --g2-color: rgba(128, 128, 128, 0.5);
}

.dark {
    --bw-color: rgba(0, 0, 0, 0.95);
    --wb-color: white;
    --yt-color: rgb(32, 34, 36);
}

.light {
    --bw-color: white;
    --wb-color: black;
    --yt-color: rgb(223, 221, 219);
}

/* ------------------------------------------- */

Header, .so-div {
    background-color: var(--bw-color);
    color: var(--wb-color);
    transition: all 1s;
}

.so-div {
    display: flex;
    padding-top: 55px;
}
.so-div.open .o-div {
    pointer-events: none;
    user-select: none;
}

.so-div .o-div {
    min-height: 100vh;
    overflow-x: hidden;
    padding: 20px;
    width: 100%;
}

/* ------------------------------------------- */

.loading, .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

/* ------------------------------------------- */

@media (max-width: 1000px) {
    .so-div {
        padding-top: 105px;
    }
}

@media (max-width: 750px) {
    .so-div {
        padding-top: 150px;
    }
}

/* ------------------------------------------- */
